<h1>Add a new comment</h1>
<div class= "row d-flex justify-content-start">
    <%= form_with do |form| %>
        <%= form.hidden_field :author_id, value: @post.author.id %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= form.label :text, 'Comment' , class: 'form-lable' %>
        <%= form.text_area :text, class: 'form-control', rows: '5' %>
        <%= form.submit class: 'btn btn-primary'%>
    <% end %>
</div>

<% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
<% end %>