<h1>Posts</h1>
<div  class='container border rounded'>
  <%= image_tag(@user.photo) %>
  <div>
    <h2><%= @user.name %></h2>
    <p class= ''>Number of Posts <%= @user.posts_counter %></p>
  </div>
</div>
<br/>
<div class='container'>
  <%= link_to 'Create new post', new_post_path , class: 'btn btn-success'%>
</div>
<br>
<div  class='container border rounded'>
  <h2>List of Posts</h2>
  <% @posts.each do |post| %>
    <div  class='container border rounded'>
     <h3><%= link_to  post.title , user_post_path(@user.id, post.id) ,class: 'h3' %></h3>
      
      <p><%= post.text %></p>
      <div class='d-flex justify-content-end'>
          <h5>Likes <%= post.likes_counter %></h5> &nbsp;
          <h5>Comments <%= post.comments_counter %><h5>
        </div>
      <hr />
      <div>
        <% post.last_comments.each do |comment| %>
          <div class='d-flex justify-content-start'>
            <strong><%= comment.author.name %>: </strong>
            <p><%= comment.text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class= 'd-flex justify-content-center '>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>